.location-link-btn {
  width: 100%;
  background: none;
  border: none;
  cursor: pointer;
  padding: 1rem 0;
  margin-top: 1rem;
  transition: all 0.3s ease;
}

.location-link-btn:hover .location-text {
  color: var(--color-primary-dark);
  transform: translateY(-2px);
}

.location-text {
  text-align: center;
  font-size: 1.25rem;
  color: var(--color-structure);
  font-weight: 500;
  margin: 0;
  transition: all 0.3s ease;
  text-decoration: none;
}

.location-link-btn:hover {
  text-decoration: none;
}
